<div id="<%= dom_id workout_plan %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= workout_plan.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= workout_plan.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Is template:</strong>
    <%= workout_plan.is_template? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Is published:</strong>
    <%= workout_plan.is_published? ? "Yes" : "No" %>
  </div>
</div>
