<% content_for :title, "Workout plans" %>
<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Workout plans</h1>
    <%= link_to "New workout plan", new_workout_plan_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>
  <div id="workout_plans" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @workout_plans.any? %>
      <% @workout_plans.each do |workout_plan| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render workout_plan %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", workout_plan, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Edit", edit_workout_plan_path(workout_plan), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= button_to "Destroy", workout_plan, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No workout plans found.</p>
    <% end %>
  </div>
</div>
